$base-font-family: YuGothic, sans-serif;
$base-font-size: 16px;
$base-font-color: #101010;
$base-background-color: #fff;

$color-white: #fff;
$color-gray: #f5f5f5;

$font-montserrat: 'Montserrat', sans-serif;

$site-size: 1120px + 60;

$z-max: 10;

$duration: 250ms;
$easing: ease-out;
